<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunit_lp.ideaapp" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash1"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <receiver
            android:enabled="true"
            android:exported="true"
            android:label="BR"
            android:name=".ConnectionService" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SubmitAd"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".MyAccount"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Help"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Google Developers Console: Android Google Maps API KEY -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAkVe3mXpGP8X6ynUddddEeUybv9ZHCprc" />
    </application>
</manifest>
